<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.webmedconsult</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/382c9e01c9.js" crossorigin="anonymous"></script>
    <style>
        /* Style for clickable containers */
        .clickable-container {
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .clickable-container:hover {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <div id="services">
        <div class="container">

            <div class="services-list">
                <a href="/mysql">
                    <div>
                        <h2>MySQL</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/post">
                    <div>
                        <h2>PostgreSQL</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/mongo">
                    <div>
                        <h2>MongoDB</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="services">
        <div class="container">

            <div class="services-list">
                <a href="/mssql">
                    <div>
                        <h2>Microsoft SQL Server Express</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/couch">
                    <div>
                        <h2>CouchDB</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/sqlite">
                    <div>
                        <h2>SQLite</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="services">
        <div class="container">

            <div class="services-list">
                <a href="/neo">
                    <div>
                        <h2>Neo4j</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/apache">
                    <div>
                        <h2>Apache Cassandra</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>


            </div>
        </div>
    </div>
 

    <script>
        function redirectToNew(route) {
            window.location.href = route;
        }
    </script>
</body>

</html>