<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>www.webmedconsult</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://kit.fontawesome.com/382c9e01c9.js" crossorigin="anonymous"></script>
    <style>
        /* Style for clickable containers */
        .clickable-container {
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .clickable-container:hover {
            transform: scale(1.05);
        }
    </style>
</head>

<body>
    <div id="services">
        <div class="container">

            <div class="services-list">
                <a href="/w">
                    <div>
                        <h2>WEKA</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/orn">
                    <div>
                        <h2>Orange</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/sl">
                    <div>
                        <h2>Scikit-learn</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="services">
        <div class="container">

            <div class="services-list">
                <a href="/ts">
                    <div>
                        <h2>TensorFlow</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/rm">
                    <div>
                        <h2>RapidMiner</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
                <a href="/h2o">
                    <div>
                        <h2>H2O.ai</h2>
                        <p></p>
                        <span>Free To Use</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
 

    <script>
        function redirectToNew(route) {
            window.location.href = route;
        }
    </script>
</body>

</html>